/* font-family: 'Pacifico', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Port Lligat Sans', sans-serif;
font-family: 'Abril Fatface', cursive;
font-family: 'Righteous', cursive;
font-family: 'Caveat', cursive;
font-family: 'Patrick Hand', cursive; */

/* Header/Logo Title */
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v199-bb-40-leaf_2.jpg?auto=format&bg=transparent&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&mark=rawpixel-watermark.png&markalpha=90&markpad=13&markscale=10&markx=25&q=75&usm=15&vib=3&w=1800&s=65f3e6e26a7a024379d239d30131338d");
  background-position: center;
  position: relative;
  background-size: 770px;
  color: #2F4F4F;
  font-size: 30px;
  font-family:  'Righteous', cursive;
}

.header-subtitle {
  color: #2F4F4F;
  font-size: 30px;
  font-family: 'Patrick Hand', cursive; */

}

.main {padding:20px;}


.dropdown {
  float: left;
  overflow: visible;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: #608b35;;
  padding: 14px 16px;
  /* background-color: inherit;
  font-family: inherit; */
  margin: 0;
}

 a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: #8FBC8F;
}

.dropdown-content {
  cursor: pointer;
  display: none;
  position: absolute;
  background-color: #8FBC8F;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  cursor: pointer;
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: white ;
}

.show {
  display: block;
}

/* --------------------------------Plant Collection---------------------------------------- */

.plant-collection {
  margin: 2rem;
}
.card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: fit-content;
  height: fit-content;
  display: inline-grid;
  margin: 1rem 2rem;

}


.plant-img {
  justify-self: center;
  height: 20rem;
  width: 330px;
}
