/* font-family: 'Pacifico', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Port Lligat Sans', sans-serif;
font-family: 'Abril Fatface', cursive;
font-family: 'Righteous', cursive;
font-family: 'Caveat', cursive;
font-family: 'Patrick Hand', cursive; */

/* Header/Logo Title */
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v199-bb-40-leaf_2.jpg?auto=format&bg=transparent&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&mark=rawpixel-watermark.png&markalpha=90&markpad=13&markscale=10&markx=25&q=75&usm=15&vib=3&w=1800&s=65f3e6e26a7a024379d239d30131338d");
  background-position: center;
  position: relative;
  background-size: 770px;
  color: #2F4F4F;
  font-size: 30px;
  font-family:  'Righteous', cursive;
}

.header-subtitle {
  color: #2F4F4F;
  font-size: 30px;
  font-family: 'Patrick Hand', cursive; */

}

.main {padding:20px;}


.dropdown {
  float: left;
  overflow: visible;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: #608b35;;
  padding: 14px 16px;
  /* background-color: inherit;
  font-family: inherit; */
  margin: 0;
}

 a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: #8FBC8F;
}

.dropdown-content {
  cursor: pointer;
  display: none;
  position: absolute;
  background-color: #8FBC8F;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  cursor: pointer;
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: white ;
}

.show {
  display: block;
}

/* --------------------------------Plant Collection---------------------------------------- */

.plant-collection {
  margin: 2rem;
}
.card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: fit-content;
  height: fit-content;
  display: inline-grid;
  margin: 1rem 2rem;

}

h3 {
  font-family: 'Caveat', cursive;
}
.plant-img {
  justify-self: center;
  height: 20rem;
  width: 330px;
}

.hide {
  display: none;
}

/* ---------------------------SOLO PLANT------------------------------------------------------- */
.solo-card {
  text-align: center;
  border: grey solid 1px;
  padding: 4rem;
  width: fit-content;
  height: fit-content;
  display: flex;
  margin: 1rem 2rem;

}

.solo-img {
  justify-self: center;
  height: 20rem;
  width: 330px;
}

.container {
  padding:20px;
}

.desc{
  text-align: center;
  font-family: 'Port Lligat Sans', sans-serif;
  font-size: large;
}

.name-desc-container{
  padding: 2em;
  display: flow-root;

}

.love-button {
  cursor: pointer;
  border-radius: 50%;
  width: 50px;

}

.back-button {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: flex;
  right: 9%;
  bottom: 18%;
  font-size: 18px;
  height: 10%;
  background-color: #4CAF50;
  font-family: 'Abril Fatface', cursive;
  color: white;
}

.edit-delete{
cursor: pointer;
background-color: #4CAF50;
 border: none;
 color: white;
 padding: 3px 11px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 font-family: 'Abril Fatface', cursive;

}

.delete{
height: 28px;
width: 69px;
display: flex;
position: absolute;
right: 9%;
bottom: -18%;
}



/* cursor: pointer;
align-content: right;
display: contents;
font-size: 18px;
padding: 15px 32px; */
